*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

.main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 15%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2rem;
    img{
        height: auto;
        width: 100%;
        object-fit: cover;}

}

.musicPlayer{
    margin-top: 2rem;
    width: 20%;
    height: 10%;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(76, 76, 76, 0.25);
    color:white;
    position: relative;
}
h2{font-size: 1.7rem;}
hr.new1 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.63);
    width: 100%;
  }

  .fa-2xl {
    font-size: 15em;
    line-height: 3rem;
} 
i{ 
    margin-top: 1rem; 
    margin-left:50% ;
    transform: translateX(-50%);
    
}
@media screen and (min-width: 300px) and (max-width: 800px){

    .logo{
        width: 60%;
        height: auto;
    }
    
    .musicPlayer{
        
        width: 80%;
        height: 15%;
    }
}